:root {
    --content-width: 700px;
    --theme-color: goldenrod;
}

/* 共通 */
.content-center {
    width: var(--content-width);
    margin: 0 auto;
}

.link-clear {
    text-decoration: none;
    color: inherit;
}

.btn-color {
    color: white;
    background-color: var(--theme-color);
}

/* 要素 */
body {
    margin: 0px;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: solid 1px lightgray;
    background-color: white;
}

.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi-main {
    padding: 10px 0;
}

.navi-logo {
    font-size: 30px;
    font-weight: bold;
}

.navi-main-right {
    display: flex;
    justify-content: end;
}

.navi-main-right > * {
    margin-left: 10px;
}

.navi-btn {
    padding: 7px 14px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.navi-menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navi-menu > li {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    padding: 0 20px;
    align-items: center;
}

.navi-menu > li:hover {
    border-bottom: solid 2px black;
}

.body-content {
    display: grid;
    grid-template-rows: 1000px;
    grid-template-columns: 60% 40%;
    grid-template-areas: "main sub";
}

.body-main {
    grid-area: main;
    background-color: lightpink;
}

.body-sub {
    grid-area: sub;
    background-color: lightskyblue;
}

.footer {
    width: 100%;
    background-color: gray;
}

.footer-content {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    color: white;
}
